{% extends 'base.html' %}
{% load static %}

{% block title %} Add Post {% endblock %}

{% block content %}

{% include 'header.html' with heading="ADD POST" subheading="It's a Traders Life" %}
{% if user.is_authenticated %}
	<div class="container">
		<div class="row">
			<!-- Contact Form Overlay
			============================================= -->
			<div class="contact-form-overlay col-md-8 offset-md-2 p-5">

				
				<div class="fancy-title title-border">
					<h3>Create Somthing New!!</h3><br/>
				</div>
				Author : {{ user.id}} - {{ user.first_name }} {{ user.last_name }}
						<br><br>
					
				<form method ="POST" enctype="multipart/form-data"><!-- enctype for image fields-->
					{% csrf_token %}
					{{ form.media }} <!-- to add rich text -->
					{{ form.as_p }}
					<button class="button button-3d m-0" type="submit" id="message-submit" name="message-submit" value="submit">Post</button>
				</form>
			</div>
		</div>
	</div>
	<script>
		var name = "{{ user.id }}";
		document.getElementById("userid").value = name
	</script>

{% else %}
	<div class="container">
		You are not allowed here, and you know it!
	</div>
{% endif %}


{% endblock %}