{% extends 'base.html' %}
{% load static %}

{% block title %} Delete Post {% endblock %}

{% block content %}

{% include 'header.html' with heading="DELETE POST" subheading="It's a Traders Life" %}

{% if user.is_authenticated %}
	{% if user.id == article.author.id %}
		<div class="container">
			<div class="row">
				<!-- Contact Form Overlay
				============================================= -->
				<div class="contact-form-overlay col-md-8 offset-md-2 p-5">

					
					<div class="fancy-title title-border">
						<h3>Delete Post:</h3>
					</div>	
					<h2> {{ article.title }} </h2> {{ article.snippet }}<br><br><br><br>

					
						
					<form method ="POST">
						{% csrf_token %}
						<strong>Are you sure?</strong>
						<button class="button button-3d m-0" type="submit" id="message-submit" name="message-submit" value="submit">Delete</button>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container">
		You are not allowed here, and you know it!
		</div>
	{% endif %}
{% else %}
	<div class="container">
	You are not allowed here, and you know it!
	</div>
{% endif %}


{% endblock %}