{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

{% include 'header.html' with heading="post LISTING" subheading="It's a Traders Life" %}

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<a href="{% url 'add_post' %}"><button type="button" class="btn btn-primary">New Post</button></a>
			<ul>
			{% for post in object_list %}
				<li>
					<a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> | C:{{ post.created_at }} - M:{{ post.pupdated_ats }} | <a href="{% url 'category' post.category|slugify %}">{{ post.category }} </a> |   - {{ post.author.first_name }} {{ post.author.last_name }}
					{% if user.is_authenticated %}
						{% if user.id == post.author.id %}
							<br><small> | <a href="{% url 'edit_post' post.pk %}">Edit</a> | <a href="{% url 'delete_post' post.pk %}">Delete</a> |</small> 
						{% endif %}
					{% endif %}
				<!--{{ post.body }} -->
				
					{{ post.snippet| safe |slice:":200" }}
				</li>
				
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

cat_menu: {{cat_menu}}

{% endblock %}
